name: Publish to OCI registries

on:
  release:
    types:
      - released
  workflow_dispatch:

env:
  DOCKER_NAMESPACE: avunia
  DOCKER_REPO: vintagestory-server
  GHCR_REPO: ${{ github.repository_owner }}/vintagestory-server

jobs:
  github:
    name: Build & Push image to GHCR
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Extract metadata from GHCR
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ghcr.io/${{ env.GHCR_REPO }}

      - name: Log in to GitHub
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  dockerhub:
    name: Build & Push image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Extract metadata from Docker Hub
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.DOCKER_NAMESPACE }}/${{ env.DOCKER_REPO }}

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
